.ad{
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 30px;

  background-image: url("../img/ad-bg.jpg");
}

.ad__info{
  margin-left: 570px;
  padding-top: 18px;
  padding-bottom: 31px;
}

.ad__title{
  margin: 0;

  font-family: $roboto;
  font-size: 18px;
  line-height: 30px;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.ad__purchase{
  display: inline-block;
  padding-left: 8px;

  font-family: $roboto;
  font-size: 24px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #252525;

  background-color: #fff;
}

.ad__promo{
  display: block;
  margin-bottom: 8px;

  font-family: $roboto;
  font-size: 60px;
  line-height: 64px;
  font-weight: 900;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #fff;
}

.ad__link{
  font-family: $roboto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #636363;

  &:hover{
    color: rgb(7, 102, 163);
  }
}
