.arrival{
  box-sizing: border-box;
  width: 570px;
  padding-top: 71px;
  padding-right: 14px;
  padding-left: 21px;
  padding-bottom: 66px;
  margin-bottom: 30px;

  background-color: #eff2f7;
  background-repeat: no-repeat;

  &--boy{
    background-image: url("../img/arrival-boy.jpg");
    background-image: -webkit-image-set(url("../img/arrival-boy.webp") 1x);
  }

  &--girl{
    background-image: url("../img/arrival-girl.jpg");
    background-image: -webkit-image-set(url("../img/arrival-girl.webp") 1x);
    background-position: right;
  }
}

.arrival__note{
  display: block;

  font-family: $opensans;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &--red{
    color: #ff0036;
  }

  &--blue{
    color: #00b8b8;
  }
}

.arrival__title{
  margin: 0;

  font-family: $opensans;
  font-size: 30px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #252525;
}

.arrival__price{
  display: block;

  font-family: $opensans;
  font-size: 30px;
  line-height: 58px;
  font-weight: 700;

  &--red{
    color: #ff0036;
  }

  &--blue{
    color: #00b8b8;
  }
}

.arrival__desc{
  width: 210px;
  margin-top: 5px;
  margin-bottom: 38px;

  font-family: $opensans;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.075em;
  color: #636363;
}

.arrival__shopping{
  float: right;
  margin-right: 14px;

  font-size: 10px;
  letter-spacing: 0.1em;
}

.arrival--boy .arrival__desc{
  text-align: right;
}

.arrival--girl .arrival__shopping{
  float: left;
}

.arrival--boy .arrival__desc{
  text-align: right;
  margin-left: auto;
}

.arrival--boy .arrival__note,
.arrival--boy .arrival__title,
.arrival--boy .arrival__price,
.arrival--boy .arrival__shopping{
  text-align: right;
}
