.arrival{
  box-sizing: border-box;
  width: 570px;
}

.arrival__desc{
  width: 210px;

  font-family: $opensans;
  font-size: 12px;
  letter-spacing: 0.075em;
  color: #636363;
}

.arrival--boy .arrival__desc{
  text-align: left;
}

.arrival--girl .arrival__desc{
  text-align: right;
  margin-left: auto;
}

.arrival--girl .arrival__note,
.arrival--girl .arrival__title,
.arrival--girl .arrival__price,
.arrival--girl .arrival__shopping{
  text-align: right;
  margin-left: auto;
}
