.features{
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-bottom: 28px;

  display: flex;
  justify-content: space-between;
}

.features__item{
  padding-left: 70px;
  width: 200px;

  background-image: url("../img/sprite.png");
  background-image: -webkit-image-set(url("../img/sprite.webp") 1x);
  background-repeat: no-repeat;

  &--shipping{
    background-position: 19px -280px;
  }

  &--support{
    background-position: 19px -330px;
  }

  &--return{
    background-position: 19px -374px;
  }

  &--payment{
    background-position: 19px -418px;
  }
}

.features__title{
  margin: 0;
  margin-bottom: -2px;

  font-family: $roboto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: #252525;
}

.features__desc{
  margin: 0;

  font-family: $roboto;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.075em;
  color: #898989;
}
