.offer{
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 30px;

  display: flex;
}

.offer__info{
  box-sizing: border-box;
  width: 585px;

  text-align: center;

  background-color: #96dbc9;
}

.offer__img{
  width: 585px;

  img{
    display: block;
  }
}

.offer__title{
  position: relative;

  margin-top: 60px;
  margin-bottom: 35px;

  font-family: $roboto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  &::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 44%;

    width: 50px;
    height: 1px;
    background-color: #5a6273;
  }
}

.offer__desc{
  width: 425px;
  margin: 0 auto;
  margin-bottom: 36px;

  font-family: $roboto;
  font-size: 12px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-align: center;
  color: #31353d;
}

.offer__link{
  display: inline-block;
  margin-left: -14px;
  //text-align: center;

  font-size: 10px;
  letter-spacing: 0.1em;
}
