.product{

}

.product__thumbnail{
  position: relative;

  display: block;
  min-height: 350px;
  vertical-align: middle;

  background-color: #f1f1f1;
}

.product__thumbnail:hover .product__hover{
  display: flex;
}

.product__hover{
  display: none;

  position: absolute;
  left: 0;
  bottom: 35px;

  justify-content: center;
  align-items: center;

  text-align: center;
  height: 40px;
  width: 100%;
  background-color: #fff;
}

.product__to-cart{
  display: inline-block;
  vertical-align: top;
  width: 19px;
  height: 17px;
  margin-right: 15px;

  background-image: url("../img/sprite.png");
  background-position: 0 -215px;

  cursor: pointer;

  &:hover{
    background-position: 0 -252px;
  }
}

.product__to-wishlist{
  display: inline-block;
  vertical-align: top;

  width: 16px;
  height: 15px;
  margin-right: 15px;

  background-image: url("../img/sprite.png");
  background-position: 0 -145px;

  cursor: pointer;

  &:hover{
    background-position: 0 -180px;
  }
}

.product__view{
  display: inline-block;
  vertical-align: top;

  width: 17px;
  height: 18px;

  background-image: url("../img/sprite.png");
  background-position: 0 -891px;

  cursor: pointer;

  &:hover{
    background-position: 0 -929px;
  }
}

.product__title{
  margin: 0;
  margin-top: 21px;

  font-family: $roboto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: #555555;
}

.product__link{
  text-decoration: none;
  color: #555555;

  &:hover{
    color: rgb(57, 164, 158);
  }
}


.product__info{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-top: 2px;
  margin-bottom: 34px;
}

.product__price{
  font-family: $roboto;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.product__rating{
  display: inline-block;
  vertical-align: top;

  width: 68px;
  height: 12px;

  &--0{
    background-image: url("../img/rating-0.png");
  }

  &--3{
    background-image: url("../img/rating-3.png");
  }
}
