.shop{
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.shop__header{
  display: flex;
  justify-content: space-between;
}

.shop__title{
  position: relative;

  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;

  font-family: $roboto;
  font-size: 24px;
  line-height: 44px;
  font-weight: 500;
  color: #252525;

  &::after{
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;

    width: 50px;
    height: 1px;
    background-color: #252525;
  }
}

.shop__link{
  display: block;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  font-family: $roboto;
  font-size: 10px;
  line-height: 44px;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
  color: #636363;

  transition: background-color 0.3s,
              color 0.25s;

  &:hover{
    background-color: rgba(129, 163, 191, 0.68);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    color: rgb(19, 1, 2);
  }
}
