.special-offer{
  position: relative;
}

.special-offer__link{
  position: absolute;
  top: 80px;
  left: 100px;

  font-family: $roboto;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #616161;

  &:hover{
    text-decoration: none;
    color: #252525;
  }
}
